.idea
tests/__pycache__
__pycache__/test_automation_framework.cpython-313.pyc
__pycache__/framework_extensions.cpython-313.pyc
.idea/misc.xml
.idea/PythonProject.iml
__pycache__/integrated_solution.cpython-313.pyc
.idea/PythonProject.iml
